.home-services {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  /* Services Info Section */
  .services-info {
    text-align: center;
    
  }
  
  
  
  /* Services Offered Section */
  .services-offered {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    gap: 20px;
  }
  
  .service-card {
    position: relative;
    width: 30%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
  }
  
  .service-bg {
    background-size: cover;
    background-position: center;
    height: 100%;
    transition: transform 0.3s ease;
  }
  
  .service-card:hover .service-bg {
    transform: scale(1.1);
  }
 